---
import 'bootstrap/dist/css/bootstrap.min.css';

---
<section>
  <div class="banner d-flex justify-content-center align-items-center container-fluid" style="background: linear-gradient(25deg, #0a0908, #140a1d, #2a1dde); min-height: 100vh;">
    <div class="col-12 text-center">
      <h1 class="gradient-text mt-5 mb-5">TekohaTech</h1>
      <p class="text-light mt-3 font-monospace mx-auto w-50 fs-6 fs-sm-5 fs-md-4 fs-lg-3 fs-xl-2 fs-xxl-1">
        "Bienvenido! Tekoha significa 'pueblo' o 'comunidad' en guaraní, reflejando nuestro compromiso de ofrecerte servicios de diseño y desarrollo web que te ayuden a destacar en línea. Lleva tu presencia en la web al siguiente nivel con nosotros."
      </p>
    </div>
  </div>
</section>
<style>
  .gradient-text {
    background: linear-gradient(45deg, #00ff88, #1f11eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
   


</style>
