---
import 'bootstrap/dist/css/bootstrap.min.css';
import '@fortawesome/fontawesome-free/css/all.min.css';
import '../styles/global.css';
---

<section class="ezy__copyright1 light">
  <div class="text-center text-lg-start">
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-4">
          <p class="text-white mb-lg-0 text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;">Copyright all rights reserved Tekoha</p>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
          <!-- Logo en el centro -->
          <div class="footer-logo">
            <img src="/LogoTekoha.png" alt="TekohaTech Logo" width="50" height="50" class="d-inline-block align-top">
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
          <ul class="ezy__copyright1-social nav">
            <li>
              <a href="#" class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="text-monospace-light-contrast" style="font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace, sans-serif;"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ezy__copyright1 {
    --ezy-theme-color: #2a1dde;
    --ezy-theme-color-rgb: 13, 110, 253;

    background-color: var(--ezy-theme-color);
    color: #ffffff;
  }

  .ezy__copyright1 > div {
    background-color: var(--ezy-theme-color);
    padding: 48px 0;
  }

  .ezy__copyright1-nav .nav-link {
    color: #fff;
  }

  .ezy__copyright1-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .ezy__copyright1-social li {
    list-style-type: none;
    display: inline-block;
    margin: 6px 8px;
  }

  .ezy__copyright1-social li a {
    color: #fff;
  }

  .ezy__copyright1-social li a:hover {
    opacity: .8;
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
